@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  text-decoration: none;

}

:root {
  --primary-color: #FAF9F6; /* These are just example values. */
  --secondary-color: #333333; /* Replace them with your actual color codes. */
}



::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container{

margin: 0;
width: 100%;
background-color: 	#FAF9F6;

}
.layout{
  background-color: 	#FAF9F6;
  list-style-type: none;
  height: 100vh;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  height:5em;
  background-color: #FAF9F6;
}

.link-container {
  font-weight: 600;
  
}



.navbar-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size:1.5em;

}
.nav-icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 6.5%;
}

.MuiDrawer-paper {
  width:20%;
  background-color: 	#FAF9F6;
}

.print-category-main-item {
  text-align:left;
  font-size: 1.55em;
}

.print-category-item {
  padding-left: 5%;
  text-align:left;
  font-size: 1.05em;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {

.print-category-main-item:before {
  content:"→";
  position:absolute;
  color:#383736;
  left: 83%;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.print-category-main-item:hover:before{

  opacity:1;
}

.print-category-item:hover {
  width:170px;
  opacity: 0.7;
  cursor: pointer;
}

.print-category-main-item:hover {
  width:170px;
  opacity: 0.7;
  cursor: pointer;
}
.print-category-item:before {
  content:"→";
  position:absolute;
  color:#383736;
  left: 83%;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.print-category-item:hover:before{
  opacity:1;
}


}




.footer-content-item {
  text-align:center;
  font-size: 0.85em;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 7.5px;
  color:#383736;
}


.footer-content-item:hover:before{
  opacity:1;
}



.footer-content-item:hover {

  opacity: 0.7;
  cursor: pointer;
}

.MuiDivider-root {
  background-color: #333;
}

.custom-text-shadow {
  text-shadow: 2px 3px 5px rgba(0,0,0,0.3);
}

.marquee-text{
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

 span.text-red {
    -webkit-text-stroke: 1px #f02d34;
    margin-left: 6px;
}
.logo{
  color: gray;
  font-size: 18px;

}

.nav-item{
  text-decoration: none;
	color: #333;
	margin-right: 10px;
  font-size:1em;
  transition: font 0.4s ease;
  position: relative;
  cursor: pointer;
}

.nav-item:hover{

  font-size:1.05em;
  color: #333;
}

.cart-icon{
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
  padding-bottom: 10px;
}

.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}

.products-container{
  display: grid;
  grid-template-columns:  repeat(4, 25% [col-start]);
  grid-row-gap: 50px;
  width: 100%;
  padding:1.5%;
}

.product-card{
  transform: scale(1, 1);
  transition: transform 0.5s ease;
 color: #333;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.produdct-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-name{
  font-weight: 500;
  text-decoration: none;
  margin-top: 5px;
  font-size: 1em;
  color: black;
}

.product-artist {

  color: black;
  font-size: .9em;
  text-decoration: underline;
}

.product-price{
  font-weight: 300;
 
  font-size: .9em;
  color: black;
}





 .produdct-info-container {
  display: flex;
  width: 100%;
 }




.hero-banner-container{
    text-align: center;
    position: relative;
    display: block;
    padding-right:1.5%;
    padding-left: 1.5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: 	#FAF9F6;
}

.side-banner-container{
  text-align: center;
  position: relative;
  display: block;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;

}

.hero-banner-title {
  position: absolute;
  z-index: 9;
  color: #FAF9F6; 	
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}



.hero-banner-subtitle {
  position: absolute;
  z-index: 9;
  color: #FAF9F6;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-banner-info {
  position: absolute;

  z-index: 9;
  color: #FAF9F6;
  width:10%;
  top: 885px;
  left: 35px;

  text-align: left;
}

.hero-banner-info-mobile {
  position: absolute;

  z-index: 9;
  color: #FAF9F6;
  width:10%;
  top: 800px;
  left: 35px;

  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  text-align: left;
}

.hero-banner-info h5 {
font-size:1em;
}

.hero-banner-info h6 {
  font-size:1em;
  }





.hero-banner-container .beats-solo{
  font-size: 20px;
}
.hero-banner-container button{
   border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: #FAF9F6;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
}

.hero-banner-container h3{
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner-container h1{
  color: #FAF9F6;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image{
  position: relative;
    display: block;
    width: 100%;
    height: 95vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.side-banner-image{
  position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.events-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.event-container {
  width: 90%;
  height:250px;
  margin-top:2.5%;
  margin-bottom: 2.5%;
  display: flex;
  border-radius: 5px;
  box-shadow: 0px 5px 17px rgba(0,0,0,0.3);
}

.event-info-container {
  text-align: center;
  color:#333;
  width: 70%;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-image-container {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 30%;
  height:250px;
  overflow: hidden;
  background-size: cover;
 
 
}



.event-button {
  width:30%;
  height: 4.5vh;
  margin-top: 5%;
  border-radius: 5px;
  color:white;
  background-color: #333; 
  box-shadow: 0px 5px 17px rgba(0,0,0,0.3);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.size-button {
  width:20%;
  height: 3.5vh;
  margin-top: 5%;
  border-radius: 5px;
  color:#333;
  margin-right: 2.5%;
  box-shadow: 2px 0px 6px  rgba(0,0,0,0.2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.event-form-button-container {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.form-text {
  margin: 0% 0% 5% 5%;
}

.dialog-image-container {

  background-size: cover;
 
  z-index: 999;
 
}


.desc{
position: absolute;
right: 10%;
bottom: 5%;
width: 300px;
line-height: 1.3;
display: flex;
flex-direction: column;
 color: #333;

}
.desc p{
  color: #5f5f5f;
  font-weight: 100;
text-align: end;
}
.desc h5{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.products-heading{
  text-align: center;
  margin: 40px 0px;
 color: #333;
}
.products-heading h2{
  font-size: 40px;
  font-weight: 800;
}
.products-heading p{
  font-size: 16px;
  font-weight: 200;
}
.footer-banner-container{
  border-top: #dbdbdb solid 1px;
  border-bottom: #dbdbdb solid 1px;
  position: relative;

  background-color: #FAF9F6;
  color: #333;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-line {
  margin-top:5%;
  border: .5px solid #dbdbdb;
  width: 100%;
}

.footer-banner-content-container {
  width:20%;
  height: 100%;
  padding-bottom:1%;
  display: flex;
  background-color: #FAF9F6;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-banner-container-left

.banner-desc{
  display: flex ;
  justify-content: center;
}
.banner-desc button{
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #FAF9F6;
  color: #333;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.footer-banner-image{
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}
.banner-desc .right{
  line-height: 1.4;
}
.banner-desc .right h3{
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p{
  font-size: 18px;
}
.banner-desc .right .company-desc{
  font-size: 14px;
  font-weight: 300;
}
.cart-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}
.cart-container{
  height: 100vh;
  background-color: #FAF9F6;
  float: right;
  padding: 2% 1%;
  position: relative;
  
}

.footer-container{
  color: #333;
  background-color: #FAF9F6;
  height: 100%;
 padding-bottom: 1%;
 padding-top: 1%;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.footer-container .icons{
  font-size: 30px;
  display: flex;
  gap: 10px;
}
 .cart-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-top:10px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading{
  margin-left: 10px;
}
.cart-num-items{
  margin-left: 10px;
  color: #333;
}
.empty-cart{

  text-align:center;
}
.empty-cart h3{
  font-weight: 600;
  font-size: 20px;
}
.cancel{
  cursor: pointer;
}
.product-container{
  width: 100%;
height: 80%;
padding: 20px 10px;
}
.product{
  display: flex;
 width: 100%;
margin-top: 5%;
}

.accordion-container {
  width: 80%;
  margin-top:5%;
}


.item-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
 

}
.item-desc .bottom{
  margin-top: 60px;
}
.flex h5{
  font-size: 24px;
}
.flex h4{
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total h3{
  font-size: 22px;

}
.remove-item{
  font-size: 24px;
  color: #333;
  cursor: pointer;
  background: transparent;
  border: none;
 display: block;
 float: right;
}
.cart-bottom{
width: 100%;
padding: 30px 65px;

}


.btn{
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #333;
  color: #FAF9F6;
  cursor: pointer;
    transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover{
  transform: scale(1.1,1.1);
}


.product-detail-container{
  display: flex;
  width: 100%;
 color: #333;
 margin-top: 2.5%;
}

.product-image-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 60%;
  height: 100vh;
}

.product-description-container {
  width: 40%;
  height: 100vh;
}

.product-detail-image{
   background-color: #ebebeb;
  cursor: pointer;
  transition: .3s ease-in-out;
}



.photographer-detail-container {
  display: flex;
  width: 100%;
 color: #333;
 margin-top: 2.5%;
 border-bottom: 1px solid #333;
 padding-bottom:2.5%;
}

.photographer-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 50%;
}

.photographer-description-container {
  width: 50%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photographer-description-container h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.product-description-container h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.merch-size-container {
  margin-top:5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



.MuiDialogContent-root {
  padding: 0;
  margin:0;
}




.small-images-container{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image{
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.about-header {
  font-size:2.5em;
  color:#333;
  text-align: center;
}

.about-desc {
  text-align: center;
  width: 70%;
}

.about-image {
  width: 400px;
  height:600px;
  top:0;
  bottom: 0;
  left:0;
  right:0 ;
}

